<!-- home section start -->
<section class="home" id="home" style="padding: 80px;">
  <div class="max-width">
    <div class="home-content">
      <div class="text-1">Hello, my name is</div>
      <div class="text-2">Ritsuki Toshima</div>
      <div class="text-3">And I'm a <span class="typing"></span></div>
      <div class="classbox">
        <a href="https://www.linkedin.com/in/ritsuki-toshima/", target="_blank">Hire me</a>
      </div>
      <div class="nav-bar topBotomBordersOut text-center">
        <a href="#home">HOME <i class="fas fa-home"></i></a>
        <a href="#about">ABOUT ME <i class="fas fa-info-circle"></i></a>
        <a href="#projects">PROJECT <i class="fas fa-folder-open"></i></a>
        <a href="#contact">CONTACT <i class="fas fa-envelope"></i></a>
      </div>
      <div class="d-flex" style="margin-left: 4em;">
        <a href="cv/sample.pdf" download="cv/sample.pdf" class="cv me-5">Download CV</a>
        <a href="cv/sample.pdf" download="cv/sample.pdf" class="職務経歴書">職務経歴書</a>
      </div>
    </div>
  </div>
</section>
