<div class="row my-5">
  <div class="col-12">
    <div id="contact">
      <div class="social-container glare-style">
        <h2><span class="typing-3"></span></h2>
        <ul class="social-icons">
          <li>
            <a href="https://www.facebook.com/profile.php?id=100012041112596" class="ic-facebook" , target="_blank">
              <i class="fa-brands fa-facebook-f"></i>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/hand0912r/" class="ic-instagram" , target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/ritsuki-toshima/" class="ic-linkedin" , target="_blank">
              <i class="fa-brands fa-linkedin"></i>
            </a>
          </li>
          <li>
            <a href="https://github.com/Ritsuki-Toshima" class="ic-github" , target="_blank">
              <i class="fa-brands fa-github"></i>
            </a>
          </li>
          <li>
            <a href="ricky0912t@gmail.com" class="ic-mail" target="_blank">
              <i class="fa-solid fa-envelope"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
