.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.post {
  max-width: 720px;
  margin: 0 auto;
}


/* .navbarScroll.navbarDark {
    background-color: black;
} */

.nav-link {
  color: rgb(247, 246, 246);
}

h2,
h3 {
  font-family: Garamond, sans-serif;
}

.navbar {
  background-color: #252830;
}

.navbar-brand {
  color: rgb(152, 219, 245);
}
