/* --------------------------------

File#: _1_feature-v6
Title: Feature v6
Descr: A section containing a list of features
Usage: codyhouse.co/license

-------------------------------- */

/* reset */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* --------------------------------

Icons

-------------------------------- */

.cd-icon {
  --size: 1em;
  font-size: var(--size);
  height: 1em;
  width: 1em;
  display: inline-block;
  color: inherit;
  fill: currentColor;
  line-height: 1;
  flex-shrink: 0;
  max-width: initial;
}

.cd-icon use {
  /* SVG symbols - enable icon color corrections */
  color: inherit;
  fill: currentColor;
}

/* --------------------------------

Component

-------------------------------- */

.feature-v6 {
  position: relative;
  z-index: 1;
}

.feature-v6__grid {
  display: grid;
  gap: 3rem;
}

.feature-v6__grid>* {
  min-width: 0;
}


.feature-v6__img {
  width: 100%;
  height: 340px;
  object-fit: cover;
  border-radius: 0.375em;
  margin-bottom: 1rem;
}

.feature-v6__icon-wrapper {
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  box-shadow: 0 0 0 1px hsla(230, 13%, 9%, 0.05);
  background-color: hsl(0, 0%, 100%);
  margin-bottom: 1rem;
}

.feature-v6__icon {
  --size: 24px;
  color: hsl(250, 84%, 54%);
}

.feature-v6__description {
  color: hsl(225, 4%, 47%);
  line-height: 1.58;
}

@media (min-width: 64rem) {
  .feature-v6__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}


/* レスポンシブデザイン*/
@media (max-width: 768px) {
  .feature-v6__grid {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .feature-v6__img {
    height: auto;
  }

  element.style {
    padding: 0px;
  }

  body {
    overflow-x: hidden;
  }
}

/* --------------------------------

Utilities

-------------------------------- */

.cd-margin-x-auto {
  margin-left: auto;
  margin-right: auto;
}

.cd-margin-bottom-2xs {
  margin-bottom: 0.75rem;
}

.cd-margin-bottom-xs {
  margin-bottom: 1rem;
}

.cd-padding-y-xl {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.cd-container {
  width: calc(100% - 3rem);
  margin-left: auto;
  margin-right: auto;
}

.cd-max-width-adaptive-lg {
  max-width: 32rem;
}

@media (min-width: 64rem) {
  .cd-max-width-adaptive-lg {
    max-width: 64rem;
  }
}

@media (min-width: 85.5rem) {
  .cd-max-width-adaptive-lg {
    max-width: 80rem;
  }
}

.cd-link {
  color: hsl(250, 84%, 54%);
  text-decoration: none;
  background-image: linear-gradient(to right, hsla(199, 32%, 52%, 0.713) 50%, hsla(250, 84%, 54%, 0.2) 50%);
  background-size: 200% 1px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  transition: background-position 0.2s;
}

.cd-link:hover {
  background-position: 0% 100%;
}

.cd-text-center {
  text-align: center;
}

/* --------------------------------

buttons

-------------------------------- */
.link-btn {
  a {
    position: relative;
    width: 140px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
    border: 1px solid transparent;
    outline: none;
    cursor: pointer;
    background: #f2eff5;
    overflow: hidden;
    transition: 0.6s;
  }

  a:first-child {
    color: #206592;
    border-color: #206592;
  }

  a:last-child {
    color: #ce5c0c;
    border-color: #ce5c0c;
  }

  a:before,
  a:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    filter: blur(30px);
    opacity: 0.4;
    transition: 0.6s;
  }

  a:before {
    width: 60px;
    background: rgba(255, 255, 255, 0.6);
    transform: translateX(-130px) skewX(-45deg);
  }

  a:after {
    width: 30px;
    background: rgba(255, 255, 255, 0.6);
    transform: translateX(-130px) skewX(-45deg);
  }

  a:hover:before,
  a:hover:after {
    opacity: 0.6;
    transform: translateX(320px) skewX(-45deg);
  }

  a:hover {
    color: #f2f2f2;
  }

  a:hover:first-child {
    background: #206592;
  }

  a:hover:last-child {
    background: #ce5c0c;
  }
}
